pip install tkinter
pip install customtkinter
pip install diffusers
pip install torch
pip install Pillow
pip install transformers

- How to setup NVIDIA GPU for PyTorch
https://www.youtube.com/watch?v=r7Am-ZGMef8

- link for download Cuda,Cudnn,Pytorch
Cuda : https://developer.nvidia.com/cuda-toolkit-archive
Cudnn : https://developer.nvidia.com/rdp/cudnn-archive
Pytorch : https://pytorch.org/get-started/locally/

- To run this file you need a HuggingFace API Token.
1. Go to the Hugging Face website: https://huggingface.co/
2. Click on the "Sign In" button in the top-right corner of the page.
3. Sign in with your Hugging Face account or create a new account if you dont have one.
4. Once you are signed in, click on your profile picture in the top-right corner of the page and select "Account settings" from the dropdown menu.
5. On the account settings page, click on the "API token" tab.
6. Click on the "Generate new token" button to create a new authorization token.
7. Enter a name for your token in the "Token name" field (e.g. "Image Generator App").
8. Choose the permissions you want to grant to your token (e.g. "Read-only" or "Full access").
9. Click on the "Generate" button to create your token.
10. Copy the generated token and use it in your Python code where it says authorization_token = "".